@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&display=swap");
*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	list-style-type: none;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}
body {
	background: RGBA(0, 0, 0, 0.75);
	color: #fff;
}
header {
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background: RGBA(0, 0, 0, 0.5);
	.logo {
		width: 30px;
		height: auto;
		margin-right: 1em;
	}
	.search-bar {
		display: flex;
		position: relative;
		input {
			background: RGBA(0, 0, 0, 0.6);
			z-index: 1;
			border: 0.01em solid rgba(360, 360, 360, 0.5);
			padding: 0.3em 0;
		}
		.icon-extend {
			cursor: pointer;
			position: absolute;
			z-index: 2;
			left: 90%;
			top: 10%;
			width: 1em;
			background: RGBA(0, 0, 0, 0.6);
			color: rgba(360, 360, 360, 0.5);
			border-radius: 3px;
			border: 0.01em solid rgba(360, 360, 360, 0.5);
			margin: 0.1em 0;
		}
		.icon-extend:hover {
			background: RGBA(0, 0, 0, 0.6);
			color: #fff;
		}
	}
	li {
		font-weight: 500;
		letter-spacing: 0;
		margin-inline: 1em;
	}
	div.drop-down-plus {
		cursor: pointer;
		display: flex;
		gap: 1em;
		span {
			font-size: 2em;
			font-weight: 500;
			button {
				border: none;
				background: none;
				color: #fff;
				font-size: 1em;
				cursor: pointer;
			}
			ul {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				display: none;
				li {
					padding: 0.3em 1em;
					border-radius: 5px;
				}
				li:hover {
					background: RGBA(0, 0, 0, 0.5);
				}
			}
			button:hover ul {
				display: block;
			}
		}
	}
}
